MULTIPORTAL_SERVICE_URL=http://apiv1.multiportal.com.br:9870
MULTIPORTAL_SERVICE_USERNAME=<username>
MULTIPORTAL_SERVICE_PASSWORD=<password>
MULTIPORTAL_SERVICE_APP_ID=<app_id>
# Id of target company to filter vehicles
MULTIPORTAL_EMPRESA_TARGET_ID=<empresa_id>
# Master password used in authentication header to access admin routes
MASTER_PASS=<master_pass>
JWT_SECRET=<jwt_secret>
JWT_EXPIRATION_SECS=3600